body {
    background-color: #121212;
    color: white;
}

.container {
    border: solid 2px blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.calculator {
    border: solid 0.1px green;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    /* padding: 10px; */
}

.screen {
    border: solid 0.1px red;
    grid-column-start: 1;
    grid-column-end: 5;
}

.block {
    border: solid 0.1px red;
}